.userDetayPage {
    text-align: center;
}

.userDetayCard {
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 50px;
    padding: 20px;
}